html, body{
  margin: 0;
  padding: 0;
}

*, *::before, *::after{
  box-sizing: border-box;
}

img{ display:block; }

@font-face{
  font-family: "SF Pro Rounded";
  src: url("../assets/fonts/sf-pro-rounded.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: "SF Pro Rounded", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}